@import '~iview/src/styles/index.less';

.ivu-form .ivu-form-item-label{font-size: 14px;}
.ivu-modal-footer{display: none;}
.ivu-modal-header p{font-size: 16px;}
.ivu-poptip-popper{min-width: 120px;}

.ivu-form-item-required .ivu-form-item-label:before{
    display: none;
}

.h-serve .ivu-poptip-body,.u-serve .ivu-poptip-body{padding:0;}
.u-serve .ivu-poptip-title{ display: none;}


.im-logo{width: 40px; height: 40px; background: url(https://i.kcimg.cn/data/avatar/noavatar_big.gif-50x50.jpg);border: 1px solid #f5f5f5; border-radius: 50%;background-size: cover; margin-right: 10px;}
.logo-box{ height: 60px; div:after{font-size:12px; padding-left: 10px;color: #999;}i{border-right: 1px solid #999;display: block;height: 12px;width: 2px; margin-left: 20px;}}
.user-tit{width: 228px;}
.user-box{width: 260px; text-align: left; padding:13px 20px 20px;
.gre-bt{ color: #2FBB8C; border-color: #2FBB8C; width: 100px; display: block; height: 30px;}
.red-bt{color: #FF335D; border-color: #FF335D;width: 100px;display: block;height: 30px;}
.us-ft-box{-webkit-justify-content:space-between;justify-content:space-between; margin-top: 10px;}
}
.user-box > div{height: 28px; line-height: 28px; a{padding-left: 10px;}}
.user-box > h3{height: 28px; line-height: 28px; font-size: 14px; color: #333;}
.user-box .line{ border-top: 1px solid #ccc; margin-top: 5px; height: 34px; line-height: 34px;padding-top: 3px;}


.layout .ivu-poptip-title:after{display: none;}
.layout .ivu-poptip-title{padding: 4px 16px 0;}
/*.leftBox .ivu-menu-vertical.ivu-menu-light:after{min-height: 750px;}*/

.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu){background-color: rgba(245, 245, 245, 0.4);}

.rbox-main{padding-left: 15px;}

.u-mr-box{min-height: 710px; background-color: #fff;}

.hot-title{ border-bottom: 1px solid #DFE3EB; height: 58px; overflow: hidden; margin-bottom: 20px; font-size: 20px; color: #333; line-height: 70px;}

.ivu-page{display: inline-block;}
.left-i-box{width: 740px;}

.foots-box .ivu-page-prev,.foots-box .ivu-page-next{ background: none; }
.foots-box .ivu-page-prev a,.foots-box .ivu-page-next a{ color: #555; }



.vertical-center-modal{display: flex;align-items: center;justify-content: center;}
.vertical-center-modal .ivu-modal{top: 0;}

.layout-content .ivu-menu-item-group-title{display: none;}
.str-x-box .ivu-table th, .str-x-box .ivu-table td{text-align: center;}
.str-form .ivu-form-item{margin-bottom: 18px;}
