@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_n8j76x9dju7hkt9.woff') format('woff'),
  url('//at.alicdn.com/t/font_n8j76x9dju7hkt9.ttf') format('truetype');
}

.fso{
  font-family: 'iconfont' !important;
  font-size:14px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-so:before{ content: '\7d22';}
.icon-dow:after{ content: '\e64c';}

.icon-ai:before{ content: '\5bdf';}
.icon-mi:before{ content: '\6d4b';}
.icon-pp:before{ content: '\6398';}
.icon-xx:before{ content: '\4e89';}

.icon-phone:before{ content: '\8bdd';}
.icon-qq:before{ content: '\817e';}
.icon-downlo:before{ content: '\8f7d';}

